<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | url}}">
</head>
<body>
    {% include 'header.njk' %}
    <div id="space"></div>

    <div class="posts-text">
            <h2>{{ title }}</h2>
            <h4>{{ date | postDate }}</h4>
        {{content | safe}}
    </div>
    
</body>
</html>