body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e7e1db;
    color: #2c2a27;
    word-break: break-word;
    overflow-wrap: break-word;
}
#space {
    height:70px;
}

.index-text {
    text-align: center;
}
.posts-text {
    margin-top:20px;
    width: 100%;
    padding: 0 20px;
}

img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width: 100%;
    height:auto;
}

@media (max-width:768px) {
    img {
        max-width: 60%;
    }
}


pre {
    white-space: pre-wrap;
    word-wrap:break-word;
    border: 1px dotted rgb(133, 123, 108);
}
code {
    font-size: 0.9rem;
    word-break: break-word;
    color: #5d5142;
}
pre, code {
    max-width: 100%;
    box-sizing: border-box;
    padding:1em;
    overflow-wrap: break-word;
}


.archive-text {
    width:150px;
}
.archive-text ul {
    font-size: smaller;
}

a {
    color: #5d5142;
}

#nav {
    position:fixed;
    top:0;
    width: 100%;
    background-color: #e7e1db;
    padding-top:20px;
    padding-bottom:40px;
    display: flex;
    justify-content: center;
    gap:15px;
}